@import "variables";
@import "mixins";

.section {
    margin-top: calc($spacing-7 * 2);

    @include desktop-up {
        margin-top: calc($spacing-8 * 2);
    }
}

.categoryTitle {
    font-family: 'EtelkaMedium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.8);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    margin-bottom: $spacing-7;

    @include desktop-up {
        margin-bottom: $spacing-8;
    }

    &:hover {
        color: rgba(51, 51, 51, 1);
    }
}

.loadMore {
    display: flex;
    margin: $spacing-8 auto 0;
}

