.wrapper {
    width: 100%;
}

.title {
    box-sizing: border-box;
    display: block;
    height: 37px;
    margin-bottom: 8px;
    margin-top: 0px;
    max-width: 809.987px;
    width: 100%;
    text-size-adjust: 100%;
    font-family: EtelkaMedium, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
    color: rgba(51, 51, 51, 0.8);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin-block-end: 8px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.inlineForm {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;

    @include tablet-up {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: $spacing-2;
    }
}

.button {
    width: 100%;
    align-self: start;
    font-family: "EtelkaMedium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    background: linear-gradient(90deg, #e5384c 0%, #ea754f 100%);
    color: #ffffff;
    padding: 6.5px 16px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    @include tablet-up {
        width: auto;
    }
}

.input {
    @include tablet-up {
        margin-bottom: 0 !important;
    }
}

.disclaimer {
    font-family: 'Etelka Light', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: $spacing-3;
    margin-bottom: 0;
    color: #333333;
}

.disclaimerLink {
    color: #333333;
    text-decoration: underline;
    font-weight: $font-weight-medium;
}

