.container {
    padding: 2.5rem 0;
    background-color: #ffffff;
    color: #333333;
}

.columns {
    display: block;

    @include desktop-up {
        display: flex;
        gap: $spacing-6;
    }
}

.heading {
    box-sizing: border-box;
    display: block;
    height: 37px;
    margin-bottom: 8px;
    margin-top: 0px;
    max-width: 809.987px;
    width: 100%;
    text-size-adjust: 100%;
    font-family: EtelkaMedium, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
    color: rgba(51, 51, 51, 0.8);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin-block-end: 8px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.aboutUs {
    margin-bottom: $spacing-6;

    @include desktop-up {
        flex: 0 0 60%;
        margin-bottom: 0;
    }
}

.rightColumn {
    @include desktop-up {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
    }

    a,
    p {
        font-family: EtelkaLight, sans-serif;
        font-size: 14px;
        font-weight: 300;
    }
}

.subscribeFormWrapper {
    margin-bottom: $spacing-6;

    @include desktop-up {
        margin-bottom: $spacing-6;
    }
}

.contacts {
    @include desktop-up {
        flex: 1;
    }
}

.about {
    margin-bottom: 0;
    font-family: EtelkaLight, sans-serif;
    font-size: 14px;
    font-weight: 300;

    p {
        font-family: EtelkaLight, sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
        color: #333333;
        margin: 0 0 $spacing-3 0;
    }

    * {
        color: #333333;
        font-family: EtelkaLight, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Etelka Medium', sans-serif;
        color: #333333;
    }
}

.contact {
    font-family: 'Etelka Light', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    display: flex;
    align-items: flex-start;
    white-space: pre;
    color: #333333;
    margin: 0 0 $spacing-2 0;

    .icon {
        margin-right: $spacing-1;
        margin-top: 0.1875rem;
        flex-shrink: 0;
    }
}

.link,
.about a {
    text-decoration-color: rgb(210, 18, 66);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-wrap-mode: nowrap;
    white-space-collapse: collapse;
    color: rgb(210, 18, 66);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline-color: rgb(210, 18, 66);
    outline-style: none;
    outline-width: 0px;
}

