.subtitle {
    @include heading-2;

    margin: 0 0 $spacing-4;
    color: #000000 !important; // Hardcoded to override theme settings
    font-family: 'Etelka Light', sans-serif !important;
    font-weight: 400 !important; // Hardcoded to override mixin
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.alignJustify {
    text-align: justify;
}
