$header-height: 100px;

.container {
    display: flex;
    background: var(--prezly-header-background-color);
    min-height: $header-height;
    z-index: 3;

    :global(.container) {
        @include desktop-up {
            padding-left: 17px;
            padding-right: 9px;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-3 0;
    height: 100%;
    width: 100%;
    gap: 0;

    .navigationToggle {
        color: var(--prezly-header-link-color);
        font-size: $font-size-m;
        line-height: 1;
        padding: $spacing-2;
        margin-right: -1 * $spacing-2;

        @include tablet-up {
            display: none;
        }
    }

    .navigationButton {
        color: var(--prezly-header-link-color);
        transition-behavior: normal;
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: color;
        transition-timing-function: ease;

        span {
            color: rgba(0, 0, 0, 1);
            transition-behavior: normal;
            transition-delay: 0s;
            transition-duration: 0.2s;
            transition-property: color;
            transition-timing-function: ease;
        }

        @include mobile-only {
            @include text-label;

            display: flex;
            text-align: left;
            justify-content: flex-start;
            padding: $spacing-4 $grid-gutter-mobile;
            color: var(--prezly-header-link-color);
            border-top: 1px solid var(--prezly-border-color);
        }

        &:not(.searchButton) {
            &:hover {
                color: #d21242;

                span {
                    color: #d21242;
                }
            }
        }

        &:hover,
        &:active,
        &:focus {
            opacity: 1 !important;
        }

        &:active {
            border-color: transparent !important;
        }
    }

    .searchToggle {
        color: rgba(0, 0, 0, 1);

        @include mobile-only {
            font-size: $font-size-m;
            line-height: 1;
            padding: $spacing-2;
        }

        @include tablet-up {
            order: 10;
        }

        &:active {
            border-color: transparent !important;
        }

        svg {
            width: 1.125rem;
            height: 1.125rem;
        }
    }

    .searchToggle.close {
        @include mobile-only {
            margin-right: -1 * $spacing-2;
        }
    }

    .navigationToggle.hidden,
    .searchToggle.hidden {
        @include mobile-only {
            display: none;
        }
    }
}

.navigationLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 auto;
    gap: 0;

    @include tablet-up {
        gap: 0;
    }
}

.navigationRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    gap: 0;

    @include tablet-up {
        gap: 0;
    }
}

.newsroom {
    @include link-primary;

    display: flex;
    padding-right: 0;
    margin-right: 35px;

    &.withoutLogo {
        color: var(--prezly-header-link-color);

        &:hover {
            color: var(--prezly-header-link-color);
            opacity: 0.8;
        }
    }
}

.title {
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: inherit;

    @include not-desktop {
        font-size: 1.25rem;
    }
}

.navigation {
    @include tablet-up {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.navigationInner {
    @include tablet-up {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.navigationRight .navigationInner {
    @include tablet-up {
        justify-content: flex-end;
    }
}

.navigationWrapper {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    > li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

/* Since search widget is in a portal, there is no better way of increasing the specificity other than adding global selectors */
.navigation,
div.mobileSearchWrapper {
    @include mobile-only {
        position: fixed;
        inset: $header-height 0 0 0;
        overflow: hidden;
    }
}

.navigation {
    @include mobile-only {
        &:not(.open) {
            pointer-events: none;
        }
    }
}

.navigationInner {
    list-style: none;
    margin: 0;
    padding: 0;

    @include tablet-up {
        margin-left: -$spacing-4;
    }

    @include mobile-only {
        position: relative;
        background: var(--prezly-header-background-color);
        transform: translateY(-50%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        max-height: 100%;
        border-bottom: 1px solid var(--prezly-border-color);
        overflow-y: auto;

        .open & {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.navigationItem {
    display: block;
    margin: 0;
    padding: 0;

    @include tablet-up {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.searchButton {
    color: rgba(0, 0, 0, 1);
    border-width: 3px;
    border-image: none;
    font-weight: 800;

    svg {
        width: 20px;
        height: 20px;
        font-weight: 800;
    }

    @include tablet-up {
        display: flex;
        align-items: center;
        padding-left: 9px;
        padding-right: 9px;
    }
}

.myEnecoItem {
    .navigationButton {
        border: 2px solid #000;
        border-radius: 6px;
    }
}

.navigationSpacer {
    display: block;
    flex: 1;
    min-width: 4rem;

    @include mobile-only {
        display: none;
    }
}

.backdrop {
    position: absolute;
    inset: 0;
    background-color: $color-base-900;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include mobile-only {
        .open & {
            opacity: 0.5;
        }
    }

    @include tablet-up {
        display: none;
    }
}

/* This class is added to the document body to prevent scrolling */
.body {
    overflow: hidden;
}
