.loadMoreButton {
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    width: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &.loading {
        opacity: 0.6;
    }
}

.icon {
    display: block;
    transform-origin: 0px 0px;
}

