.avatar {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: $spacing-3;
    border-radius: 50%;
}

.contentTitle {
    @include tablet-up {
        display: flex;
    }
}

.name {
    box-sizing: border-box;
    display: block;
    height: 2.3125rem; // 37px
    margin-top: 0;
    margin-bottom: 0.5rem; // 8px
    margin-left: 0;
    margin-right: 0;
    text-size-adjust: 100%;
    font-family: 'Etelka Medium', sans-serif !important;
    font-size: 1.75rem; // 28px
    font-weight: 500;
    line-height: 2.3125rem; // 37px
    text-align: left;
    color: rgba(51, 51, 51, 0.8);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    margin-block-end: 0.5rem; // 8px
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    unicode-bidi: isolate;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include tablet-up {
        margin-top: 0.25rem;
    }
}

.position {
    @include text-small;

    margin: 0 auto $spacing-3;
    color: var(--prezly-text-color-secondary);
    font-family: 'Etelka Light', sans-serif !important;
    font-weight: 400;
    font-size: $font-size-labels;
}

.links {
    margin: $spacing-2 auto (-$spacing-2);
}

.primaryContacts {
    margin: 0 auto $spacing-3;
    font-family: 'Etelka Light', sans-serif !important;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    margin-bottom: 0;

    .link {
        color: #d94359 !important;

        .icon {
            color: #d94359 !important;
            fill: #d94359 !important;
            stroke: #d94359 !important;
        }

        .linkText {
            color: #d94359 !important;
        }

        svg {
            color: #d94359 !important;
            fill: #d94359 !important;
            stroke: #d94359 !important;
        }

        &:hover,
        &:focus {
            color: #d94359 !important;

            .icon {
                color: #d94359 !important;
                fill: #d94359 !important;
                stroke: #d94359 !important;
            }

            .linkText {
                color: #d94359 !important;
            }

            svg {
                color: #d94359 !important;
                fill: #d94359 !important;
                stroke: #d94359 !important;
            }
        }

        &:active {
            color: #d94359 !important;

            .icon {
                color: #d94359 !important;
                fill: #d94359 !important;
                stroke: #d94359 !important;
            }

            .linkText {
                color: #d94359 !important;
            }

            svg {
                color: #d94359 !important;
                fill: #d94359 !important;
                stroke: #d94359 !important;
            }
        }
    }
}

.link {
    @include text-small;
    @include link-primary;

    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: $spacing-2;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }
}

.linkText {
    overflow: hidden;
    overflow-wrap: break-word;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-labels;
}

.socials {
    display: flex;

    .link:last-child {
        margin-right: 0;
    }
}

.icon {
    $size: 1rem;

    width: $size;
    height: $size;
    flex-shrink: 0;
    margin-right: $spacing-1;
}

.container {
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0.375rem; // 6px
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
    padding: $spacing-4;

    // This class applies mobile styling but can also be forced through props.
    // The component will apply this class automatically when on mobile screen.
    &.compact {
        // margin-bottom: -70px;
        .avatar {
            margin-bottom: $spacing-3;
        }

        .links {
            display: block;
            margin-bottom: 0;
        }
    }

}
