.menu {
    @include mobile-only {
        padding: $spacing-1 0 !important;
        background-color: var(--prezly-background-color-secondary) !important;
    }

    @include tablet-up {
        max-height: 50vh;
        overflow: auto;
    }
}

.button {
    color: #eb4356 !important;
    text-decoration: none;

    span {
        color: #eb4356 !important;
    }

    &:hover {
        color: #eb4356 !important;
        text-decoration: underline;

        span {
            color: #eb4356 !important;
        }
    }

    &:active,
    &:focus {
        color: #eb4356 !important;
        text-decoration: underline;

        span {
            color: #eb4356 !important;
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
